/* You can add global styles to this file, and also import other style files */

body{
  background-color: #8D021F;
}

/* Provide sufficient contrast against white background */


h1{
  color: #fff;
}

a{
  color: #000;
  margin-right: 7px;
}

a:hover{
  color: #000;
}

code {
  color: #e01a76;
}

/*Button Customization*/
.btn-primary {
  color: #8D021F;
  background-color: #fff;
  border-color: #8D021F;
}
.btn-primary:hover {
  color: #fff;
  background-color: #8D021F;
  border-color: #fff;
}
