<ng-container>
    <div class="text-center">
        <h1>Resume</h1>
    </div>

    <div class="card text-center">
        <h2 class="card-header">Education</h2>
        <div class="card-body">
            <h3 class="card-title"><a href="https://www.linfield.edu/" target="_blank">Linfield University <br>
                    McMinnville, OR<br><small>Click to Learn More</small></a></h3>
            <p class="card-text">AUGUST 2016-MAY 2017 & AUGUST 2018-PRESENT <br>
                COMPUTER SCIENCE, B.S., MATH MINOR, DATA SCIENCE MINOR <br>
                Currently working towards a Computer Science degree. Math and Data Science Minors as well.
                Knowledgeable in the Java and C++ programming language as well as the Angular framework.
            </p>
        </div>
    </div>

    <br>

    <div class="card text-center">
        <h2 class="card-header">Skills</h2>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>
                        - Bilingual in English and Spanish<br>
                        - Proficient knowledge of Microsoft applications<br>
                        - Proficient in Java, C#, and C++ language programming<br>
                        - .NET Core & Angular Framework<br>
                        - Independently driven to learn
                    </p>
                </div>
                <div class="col">
                    <p>
                        - Excellent provider of customer services<br>
                        - Able to work in a fast-paced environment<br>
                        - Able to logistically solve problems<br>
                        - Knowledgeable in SQL, HTML, CSS, and Typescript<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br>
</ng-container>