<ng-container>
    <div class="text-center">
        <h1>Quick Resume</h1>
    </div>

    <div class="card text-center">
        <h2 class="card-header">Education</h2>
        <div class="card-body">
            <h3 class="card-title"><a href="https://www.linfield.edu/" target="_blank">Linfield University <br>
                    McMinnville, OR</a></h3>
            <p class="card-text">AUGUST 2016-MAY 2017 & AUGUST 2018-PRESENT <br>
                COMPUTER SCIENCE, B.S., MATH MINOR, DATA SCIENCE MINOR <br>
                Currently working towards a Computer Science degree. Math and Data Science Minors as well.
                Knowledgeable in the Java and C++ programming language as well as the Angular framework.
            </p>
        </div>
    </div>

    <br>

    <div class="card text-center">
        <h2 class="card-header">Skills</h2>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>
                        - Bilingual in English and Spanish<br>
                        - Proficient knowledge of Microsoft applications<br>
                        - Proficient in Java, C#, and C++ language programming<br>
                        - .NET Core & Angular Framework<br>
                        - Independently driven to learn
                    </p>
                </div>
                <div class="col">
                    <p>
                        - Excellent provider of customer services<br>
                        - Able to work in a fast-paced environment<br>
                        - Able to logistically solve problems<br>
                        - Knowledgeable in SQL, HTML, CSS, and Typescript<br>
                        - Familiar with CMS Cascade (Web Management System)
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="card text-center">
        <h2 class="card-header">Relevant Experience</h2>
        <div class="card-body">
            <h3 class="card-title">DECEMBER 2021 - CURRENT<br>
                <a href="https://inside.linfield.edu/strategic-communications/index.html"
                    target="_blank"><strong>Information Technology Services & Office of Strategic
                        Communications,</strong><br>Linfield University<br>
                    McMinnville, OR</a>
            </h3>
            <p class="card-text">
                Working alongside collogues and other university faculty on communication such as advertising and
                outreach
                by helping maintain and update <a href="https://www.linfield.edu/" target="_blank">www.linfield.edu</a>
                and <a href="https://www.inside.linfield.edu/" target="_blank">www.inside.linfield.edu</a> as well as
                writing blog posts that highlight and celebrate Linfield University individuals that embody Linfield's
                values. Working with CMS Cascade.
            </p>

            <br>

            <h3 class="card-title">OCTOBER 2020 - DECEMBER
                2020<br><a href="https://www.buildableworks.com/" target="_blank"><strong>Intern,</strong> Buildable
                    Works<br>
                    McMinnville, OR</a></h3>
            <p class="card-text">
                Worked alongside collogues to create components to better the websites in which we were working on using
                the Angular framework. Learned new technologies such as Git and Visual Studio Code while deepening my
                understanding of others such as SQL Server and Angular.
            </p>

            <br>

            <h3 class="card-title">JULY 2019 - DECEMBER
                2019<br><a href="https://www.millertech.biz/" target="_blank"><strong>Intern,</strong> MILLER
                    TECHNOLOGIES<br>
                    McMinnville, OR</a></h3>
            <p class="card-text">
                Worked alongside collogues to perform thorough system checks and evaluations of multiple customer
                networks.
                Created multiple end-of-month network reports for customer to view.
                Worked alongside collogues and management to diagnose or set up customer systems and perform system
                maintenance for customers on-site or remotely while maintaining confidentiality of all client's
                sensitive information.
            </p>
        </div>
    </div>

    <br>

    <div class="card text-center">

        <h2 class="card-header">References</h2>
        <div class="card-body">


            <div class="row">
                <div class="col">

                    <p><strong>Jennifer Nordstrom, Professor of mathematics at Linfield University</strong><br>
                        Relationship: Professor and supervisor.<br>
                        Phone: (503)883-2654 | E-Mail: jfirkins@linfield.edu</p>
                </div>
                <div class="col">

                    <p><strong>Daniel Ford, Professor and chair of computer science at Linfield University</strong><br>
                            Relationship: Professor and supervisor.<br>
                            Phone: (503)883-2706 | E-Mail: dford@linfield.edu</p>

                </div>
            </div>

        </div>


    </div>
</ng-container>