<ng-container>

  <div class="card">
    <h5 class="card-header">Individual Software Engineering Projects</h5>
    <div class="card-body">
      <h4 class="card-title">Project One<span class="badge badge-secondary">New</span></h4>
      <p class="card-text">Project One Description</p>
      <a href="#" class="btn btn-primary">View Project One's Github Repo</a>
      <br> <br> <br>
      <h4 class="card-title">Project Two</h4>
      <p class="card-text">Project Two Description</p>
      <a href="#" class="btn btn-primary">View Project Two's Github Repo</a>
    </div>
  </div>

  <br>

  <div class="card">
    <h5 class="card-header">Individual Photography Projects</h5>
    <div class="card-body">
      <h4 class="card-title">Project One</h4>
      <p class="card-text">Project One Description</p>
      <a href="https://adobe.ly/3qYUazD" target="_blank" class="btn btn-primary">View Project One's LightRoom Repo</a>
      <br> <br> <br>
      <h4 class="card-title">Project Two</h4>
      <p class="card-text">Project Two Description</p>
      <a href="#" class="btn btn-primary">View Project Two's LightRoom Repo</a>
    </div>
  </div>

</ng-container>