<ng-container>

  <div class="card text-center">
    <h5 class="card-header">Software Engineering</h5>
    <div class="card-body">
      <h4 class="card-title">Project One<span class="badge badge-secondary">New</span></h4>
      <p class="card-text">Project One Description</p>
      <a href="#" class="btn btn-primary">View Project One's Github Repo</a>
      <br> <br> <br>
      <h4 class="card-title">Project Two</h4>
      <p class="card-text">Project Two Description</p>
      <a href="#" class="btn btn-primary">View Project Two's Github Repo</a>
    </div>
  </div>

  <br>

  <div class="card text-center">
    <h5 class="card-header">Photography</h5>
    <div class="card-body">
      <h4 class="card-title">Collection of Photos</h4>
      <p class="card-text">Collection of some of my favorite photos I have taken throughout my time as a photographer.
      </p>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div>
              <img src="../assets/images/columbia_river.jpg" class="img-thumbnail" alt="Columbia River">
            </div>
          </div>
          <div class="col-sm">
            <div>
              <img src="../assets/images/line_of_scrimmage.jpg" class="img-thumbnail" alt="Line of Scrimmage">
            </div>
          </div>
          <div class="col-sm">
            <div>
              <img src="../assets/images/mauricio.jpg" class="img-thumbnail" alt="Mauricio">
            </div>
          </div>
        </div>
      </div>
      <br>
        <a href="https://adobe.ly/3qYUazD" target="_blank" class="btn btn-primary">View Collection</a>
    </div>
  </div>

  <br>

  <div class="card text-center">
    <h5 class="card-header">Blog Posts</h5>
    <div class="card-body">
      <h4 class="card-title">Coming Soon!</h4>
    </div>
  </div>

</ng-container>